@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
/* justify-content - main axis
align-item - cross axis */
/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 2px red solid;
} */

body {
  background-color: #fcf8e8;
  font-family: Amatic SC;
}
#content-wrapper {
  font-size: 30px;
}
#form-wrapper {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 60px;
  text-align: center;
}
.rocket-img {

}
#pwd {
  margin-left: 10px;
}
.astronaut {
  height: 250px;
  width: auto;
  margin-left: 100px;
}

}
